aiofiles
beanie
boto3
fastapi
grequests
langchain-community
langchain-openai
llama-index-vector-stores-qdrant
html2text
httptools
google-api-python-client
llama-index
matplotlib
pydantic-settings
pymupdf
pytest
python-docx
python-multipart
theflow
uvicorn
uvloop
youtube-transcript-api
